* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
}

body{
  margin: 0;
  padding: 0;
}

textarea {
  width: 20%;
  font-size: 20px;
  padding: 50px;
  resize: none;
}

#container {
  text-align: center;
  width: 100%;
  height: auto;
  color: #ffffff;
}

#header {
  width: 100%;
  height: auto;
  background-color: #FF1168;
  padding: 30px 0 30px 0;
  border-bottom: 3px solid #9E1E4C;
}

#content {
  width: 100%;
  height: auto;
  background-color: #ECECEC;
  padding: 30px 0 30px 0;
  color: #8F8F8F;
}

#content h2 {
  margin-bottom: 10px;
}

#footer {
  width: 100%;
  height: auto;
  background-color: #25020F;
  padding: 20px 0 20px 0;
  border-top: 3px solid #100207;
}
