* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: bold;
}

body{
  margin: 0;
  padding: 0;
}

textarea {
  width: 40%;
  font-size: 20px;
  padding: 50px;
  resize: none;
}

#container {
  text-align: center;
  width: 100%;
  height: auto;
  color: #ffffff;
}

#header {
  width: 100%;
  height: auto;
  background-color: #FF1168;
  padding: 30px 0 30px 0;
  border-bottom: 3px solid #9E1E4C;
  display: block;
  overflow: hidden;
  font-size: 1.7em;
}

#content {
  width: 100%;
  height: auto;
  background-color: #ECECEC;
  padding: 30px 0 30px 0;
  color: #8F8F8F;
}

#content h2 {
  margin-bottom: 10px;
}

#footer {
  width: 100%;
  height: auto;
  background-color: #25020F;
  padding: 20px 0 20px 0;
  border-top: 3px solid #100207;
}

.shadow {
  text-shadow:
  #9E1E4C 1px 1px 0px,
  #9E1E4C 2px 2px 0px,
  #9E1E4C 3px 3px 0px,
  #9E1E4C 4px 4px 0px,
  #9E1E4C 5px 5px 0px,
  #9E1E4C 6px 6px 0px,
  #9E1E4C 7px 7px 0px,
  #9E1E4C 8px 8px 0px,
  #9E1E4C 9px 9px 0px,
  #9E1E4C 10px 10px 0px,
  #9E1E4C 11px 11px 0px,
  #9E1E4C 12px 12px 0px,
  #9E1E4C 13px 13px 0px,
  #9E1E4C 14px 14px 0px,
  #9E1E4C 15px 15px 0px,
  #9E1E4C 16px 16px 0px,
  #9E1E4C 17px 17px 0px,
  #9E1E4C 18px 18px 0px,
  #9E1E4C 19px 19px 0px,
  #9E1E4C 20px 20px 0px,
  #9E1E4C 21px 21px 0px,
  #9E1E4C 22px 22px 0px,
  #9E1E4C 23px 23px 0px,
  #9E1E4C 24px 24px 0px,
  #9E1E4C 25px 25px 0px,
  #9E1E4C 26px 26px 0px,
  #9E1E4C 27px 27px 0px,
  #9E1E4C 28px 28px 0px,
  #9E1E4C 29px 29px 0px,
  #9E1E4C 30px 30px 0px,
  #9E1E4C 31px 31px 0px,
  #9E1E4C 32px 32px 0px,
  #9E1E4C 33px 33px 0px,
  #9E1E4C 34px 34px 0px,
  #9E1E4C 35px 35px 0px,
  #9E1E4C 36px 36px 0px,
  #9E1E4C 37px 37px 0px,
  #9E1E4C 38px 38px 0px,
  #9E1E4C 39px 39px 0px,
  #9E1E4C 40px 40px 0px,
  #9E1E4C 41px 41px 0px,
  #9E1E4C 42px 42px 0px,
  #9E1E4C 43px 43px 0px,
  #9E1E4C 44px 44px 0px,
  #9E1E4C 45px 45px 0px,
  #9E1E4C 46px 46px 0px,
  #9E1E4C 47px 47px 0px,
  #9E1E4C 48px 48px 0px,
  #9E1E4C 49px 49px 0px,
  #9E1E4C 50px 50px 0px,
  #9E1E4C 51px 51px 0px,
  #9E1E4C 52px 52px 0px,
  #9E1E4C 53px 53px 0px,
  #9E1E4C 54px 54px 0px,
  #9E1E4C 55px 55px 0px,
  #9E1E4C 56px 56px 0px,
  #9E1E4C 57px 57px 0px,
  #9E1E4C 58px 58px 0px,
  #9E1E4C 59px 59px 0px,
  #9E1E4C 60px 60px 0px,
  #9E1E4C 61px 61px 0px,
  #9E1E4C 62px 62px 0px,
  #9E1E4C 63px 63px 0px,
  #9E1E4C 64px 64px 0px,
  #9E1E4C 65px 65px 0px,
  #9E1E4C 66px 66px 0px,
  #9E1E4C 67px 67px 0px,
  #9E1E4C 68px 68px 0px,
  #9E1E4C 69px 69px 0px,
  #9E1E4C 70px 70px 0px,
  #9E1E4C 71px 71px 0px,
  #9E1E4C 72px 72px 0px,
  #9E1E4C 73px 73px 0px,
  #9E1E4C 74px 74px 0px,
  #9E1E4C 75px 75px 0px,
  #9E1E4C 76px 76px 0px,
  #9E1E4C 77px 77px 0px,
  #9E1E4C 78px 78px 0px,
  #9E1E4C 79px 79px 0px,
  #9E1E4C 80px 80px 0px,
  #9E1E4C 81px 81px 0px,
  #9E1E4C 82px 82px 0px,
  #9E1E4C 83px 83px 0px,
  #9E1E4C 84px 84px 0px,
  #9E1E4C 85px 85px 0px,
  #9E1E4C 86px 86px 0px,
  #9E1E4C 87px 87px 0px,
  #9E1E4C 88px 88px 0px,
  #9E1E4C 89px 89px 0px,
  #9E1E4C 90px 90px 0px,
  #9E1E4C 91px 91px 0px,
  #9E1E4C 92px 92px 0px,
  #9E1E4C 93px 93px 0px,
  #9E1E4C 94px 94px 0px,
  #9E1E4C 95px 95px 0px,
  #9E1E4C 96px 96px 0px,
  #9E1E4C 97px 97px 0px,
  #9E1E4C 98px 98px 0px,
  #9E1E4C 99px 99px 0px,
  #9E1E4C 100px 100px 0px,
  #9E1E4C 101px 101px 0px,
  #9E1E4C 102px 102px 0px,
  #9E1E4C 103px 103px 0px,
  #9E1E4C 104px 104px 0px,
  #9E1E4C 105px 105px 0px,
  #9E1E4C 106px 106px 0px,
  #9E1E4C 107px 107px 0px,
  #9E1E4C 108px 108px 0px,
  #9E1E4C 109px 109px 0px,
  #9E1E4C 110px 110px 0px,
  #9E1E4C 111px 111px 0px,
  #9E1E4C 112px 112px 0px,
  #9E1E4C 113px 113px 0px,
  #9E1E4C 114px 114px 0px,
  #9E1E4C 115px 115px 0px,
  #9E1E4C 116px 116px 0px,
  #9E1E4C 117px 117px 0px,
  #9E1E4C 118px 118px 0px,
  #9E1E4C 119px 119px 0px,
  #9E1E4C 120px 120px 0px,
  #9E1E4C 121px 121px 0px,
  #9E1E4C 122px 122px 0px,
  #9E1E4C 123px 123px 0px,
  #9E1E4C 124px 124px 0px,
  #9E1E4C 125px 125px 0px,
  #9E1E4C 126px 126px 0px,
  #9E1E4C 127px 127px 0px,
  #9E1E4C 128px 128px 0px,
  #9E1E4C 129px 129px 0px,
  #9E1E4C 130px 130px 0px,
  #9E1E4C 131px 131px 0px,
  #9E1E4C 132px 132px 0px,
  #9E1E4C 133px 133px 0px,
  #9E1E4C 134px 134px 0px,
  #9E1E4C 135px 135px 0px,
  #9E1E4C 136px 136px 0px,
  #9E1E4C 137px 137px 0px,
  #9E1E4C 138px 138px 0px,
  #9E1E4C 139px 139px 0px,
  #9E1E4C 140px 140px 0px,
  #9E1E4C 141px 141px 0px,
  #9E1E4C 142px 142px 0px,
  #9E1E4C 143px 143px 0px,
  #9E1E4C 144px 144px 0px,
  #9E1E4C 145px 145px 0px,
  #9E1E4C 146px 146px 0px,
  #9E1E4C 147px 147px 0px,
  #9E1E4C 148px 148px 0px,
  #9E1E4C 149px 149px 0px,
  #9E1E4C 150px 150px 0px;
}
